# Search for '## ' and replace it with '' ========
# Add your PLUGINNAME or/and THEMENAME below =====

## /*
## node_modules
## bower_components
## !.gitignore
## !docker-compose.yml
## !dump.sh
## !php.ini
## !.browserslistrc
## !gulpfile.js
## !README.md
## !package*.json
## !postcss.config.js
## !webpack.config.js
## !yarn.lock

# Development stuff ==============================

## !config/
## !data/
## !docs/

# Keep the important files =======================

## !www/
## www/*
## !www/wp-content/
## !www/.htaccess
## !www/wp-config.php
## www/wp-content/*

## wp-content/advanced-cache.php
## wp-content/backup-db/
## wp-content/backups/
## wp-content/blogs.dir/
## wp-content/cache/
## wp-content/upgrade/
## wp-content/uploads/
## wp-content/mu-plugins/
## wp-content/wp-cache-config.php
## wp-content/plugins/hello.php

## /license.txt
## /readme.html
## /sitemap.xml
## /sitemap.xml.gz

# Theme development ==============================

## !www/wp-content/themes/

## www/wp-content/themes/*
## !www/wp-content/themes/THEME_NAME/

# Plugin development =============================

## !www/wp-content/plugins/

## www/wp-content/plugins/*
## !www/wp-content/plugins/PLUGINNAME/
